@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.custom-heading{
  font-family: 'Concert One', sans-serif;
}

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: 210, 231, 214;
  --matr-navbar-bg-rgb: 210, 231, 214;
}
  /* Change bootstrap variable values.
   See https://getbootstrap.com/docs/5.2/customize/css-variables/
   */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/426/070/non_2x/aesthetic-white-and-green-background-with-space-for-text-modern-background-design-with-liquid-shape-white-background-with-green-liquid-shapes-free-vector.jpg");
  background-size: cover;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */

.custom-link {
  text-decoration: none;
  color: var(--bs-dark);;
}

.custom-column{
  margin: 30px;
}

#white-box {
  background-color: white;
  padding: 10px;
  border: 4px solid black;
}

#white-box-logsign {
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid lightgray;
}

#white-soft-box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 350px;
  border: 4px solid honeydew;
}
.description-box {
  width: 300px;
  height: auto;
  resize: none;
}
.fullrow {
  width: 100%;
}
.button-test {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.pro-pic-image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}